.command-palette {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 960px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);

  border-radius: 4px;
  backdrop-filter: blur(4px);

  border: 1px solid red;
}
